<%- include ("../partials/header") %>

<div class="container-fluid pt-4 px-5">
  <div class="maid-container">
      <h1 class="text-center"><%= currentUser.username %> profile page</h1>
      <br>
      <form action="/register" method="POST">
        <div class="form-group row">
          <label class="col-sm-3 control-label">Username:</label>
          <div class="col-sm-9">
              <input class="form-control" type="text" name="currentUser[username]" value="<%= currentUser.username %>" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">Email adress:</label>
          <div class="col-sm-9">
              <input class="form-control" type="email" name="currentUser[email]" value="<%= currentUser.email %>" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">First Name:</label>
          <div class="col-sm-9">
              <input class="form-control" type="text" name="currentUser[firstName]" value="<%= currentUser.firstName %>" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">Last Name:</label>
          <div class="col-sm-9">
              <input class="form-control" type="text" name="currentUser[lastName]" value="<%= currentUser.lastName %>" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">Avatar:</label>
          <div class="col-sm-9">
              <input class="form-control" type="text" name="currentUser[avatar]" value="<%= currentUser.avatar%>" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">More about You:</label>
          <div class="col-sm-9">
              <textarea class="form-control" type="text" name="currentUser[description]" rows="6" readonly><%= currentUser.description%></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <a href="/places"><i class="fa fa-angle-double-left"></i> Go Back</a>
          </div>
          <div class="col-sm-9">
            <a class="btn btn-info form-control" href="/user/<%= currentUser._id %>/edit">Edit your profile</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include ("../partials/footer") %>