<%- include ("../partials/header") %>

<div class="container-fluid heightvh">
    <header class="jumbotron mb-0">
		<h1 class="display-5">"<%= content.name %>" review page</h1>
        <p class="lead">
            <% if (content.rating === 0) { %>
            <h5><em>No reviews yet.</em></h5>
            <% } else { %>
            <p>
                <span class="fas fa-star checked"></span>
                <span class="<% if (content.rating > 1.5) { %> fas fa-star checked <% } else { %> far fa-star checked <% }; %>"></span>
                <span class="<% if (content.rating > 2.5) { %> fas fa-star checked <% } else { %> far fa-star checked <% }; %>"></span>
                <span class="<% if (content.rating > 3.5) { %> fas fa-star checked <% } else { %> far fa-star checked <% }; %>"></span>
                <span class="<% if (content.rating > 4.5) { %> fas fa-star checked <% } else { %> far fa-star checked <% }; %>"></span>
                <strong><%= content.rating.toFixed(2) %></strong>
                <em>(total reviews: <%= content.reviews.length %>)</em>
            </p>
            <% } %>
        </p>
        <a class="btn btn-info lead-btn" href="/places/<%= content._id %>"><i class="fas fa-angle-double-left"></i> Go back</a>
        <% if(currentUser) { %>
            <span class="mb-1">
                <% if (currentUser && content.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> 
                    <a data-toggle="modal" data-target="#ModalReviewsAdded" class="btn btn-info lead-btn">Write a New Review</a>
                <% } else { %>
                    <a data-toggle="modal" data-target="#ModalReviews" class="btn btn-info lead-btn">Write a New Review</a>
                <% }; %>
            </span>
        <% } else { %>
            <span class="mb-1">
                <a data-toggle="modal" data-target="#IsLoggedIn" class="btn btn-info lead-btn" href="#">Write a New Review</a>
            </span>
        <% }; %>
    </header>
    <% if(!currentUser) { %>
        <%- include ("../partials/isloggedin") %>
    <% } else { %>
        <% if (currentUser && content.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %>
            <%- include ("../reviews/added") %>
        <% } else { %>
            <%- include ("../reviews/new") %>
        <% }; %>
    <% }; %>
    <br>
    <div class="row">
        <div class="col-md-12">
            <% content.reviews.forEach(function(review){ %>
                <div class="row">
                    <div class="col-md-3">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="far fa-star checked"></span>'.repeat(5 - review.rating) %>
                        <div>Review by: <strong><%= review.author.username %></strong></div>
                        <span><em><%= review.updatedAt.toDateString() %></em></span>
                    </div>
                    <div class="col-md-9">
                        <p style="text-align: justify; word-wrap: break-word;">
                            <%= review.text %>
                        </p>
                    <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-outline-info btn-sm"
                        href="/places/<%=content._id %>/reviews/<%=review._id %>/edit">Edit review</a>
                        <!-- <form class="delete-form" action="/places/<%=content._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-info btn-sm" value="Delete">
                        </form> -->
                    <% } %>
                    </div>
                </div>
                <hr>
            <% }); %>
        </div>   
    </div>
</div>

<%- include ("../partials/footer") %>